<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="light.min.css" />
</head>
<body>

<h1><a href="index"><img src="cloud.svg" style="width: 3em; vertical-align: middle" /> Weather site</a></h1>

<h2>Weather in {{city.name}}</h2>

<p class="temperature">Temperature: {{temperature}}°C</p>

<p class="weather">Weather: <img src="{{weather}}.svg" /></p>

<p class="wind"><img src="wind.svg" /> Wind: {{wind}}km/h</p>

<p>View <a href="forecast?city_id={{city.id}}">forecast</a></p>
</body>
</html>
